* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}

body > header {
  background-color: black;
  color: white;
  font: bold 3rem Arial;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid rgb(0 0 0);
}

main {
  height: 100%;
  min-height: 0;
  display: flex;
}

#sidebar {
  border-right: 2px solid rgb(0 0 0);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 220px;
}

#sidebar * {
  background-color: #ffffff;
  font: bold 1.5rem Arial;
  user-select: none;
}

#sidebar .tab .title {
  flex: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

#sidebar .tab {
  width: 180px;
  display: flex;
  border: 5px solid white;
  padding: 0 5px;
  background-color: #ffffff;
}

#sidebar .tab:hover,
#sidebar .tab.active {
  background-color: #000000;
  border: 5px solid red;
}

#sidebar .tab:hover *,
#sidebar .tab.active * {
  background-color: #000000;
  color: #ffffff;
}

#project-container {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

#project-tabs {
  overflow: hidden auto;
}

#page {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#new-task-form {
  display: none;
}

#tasks-header {
  font: bold 2rem Arial;
  text-align: center;
}

#tasks {
  width: 80%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border: 2px solid black;
}

#tasklist-header,
#tasklist > * {
  display: flex;
  word-break: break-all;
  align-items: center;
  padding: 5px;
}

#tasklist {
  overflow: hidden scroll;
}

#tasklist > :nth-child(odd) {
  background-color: lightblue;
}

#tasklist-header {
  text-align: center;
  font: bold 1.25rem Arial;
  border-bottom: 2px solid black;
  min-height: 40px;
  overflow: auto;
  scrollbar-gutter: stable;
}

.task {
  border-bottom: 1px solid black;
}

#tasklist :last-child {
  border-bottom: none;
}

#tasklist-header .title,
#tasklist .title {
  width: 150px;
}

#tasklist-header .description,
#tasklist .description {
  width: 600px;
}

#tasklist-header .due-date,
#tasklist-header .priority,
#tasklist-header .completed,
#tasklist .due-date,
#tasklist .priority,
#tasklist .completed {
  width: 150px;
  text-align: center;
}

#tasklist-header .delete-button,
#tasklist .delete-button {
  width: 50px;
  text-align: center;
}

.task .priority.low {
  color: #008000;
}

.task .priority.medium {
  color: #ffa500;
}

.task .priority.high {
  color: #ff0000;
}

#new-project-dialog {
  margin: auto;
}

#new-project-dialog[open] {
  height: 400px;
  width: 400px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
