* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  height: 80px;
}

#uiWrapper {
  border-top: 2px solid rgb(0 0 0);
  flex: 1;
  display: flex;
}

#sidebar {
  border-right: 2px solid rgb(0 0 0);
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.sidebarTab {
  background-color: rgb(255 255 255);
  border: 5px solid white;
  width: 200px;
  font: bold 2rem Arial;
  user-select: none;
}

.sidebarTab:hover,
.sidebarTab .active {
  background-color: black;
  color: white;
  border: 5px solid red;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

#newProjectDialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#newProjectDialog[open] {
  height: 800px;
  width: 800px;
}
