* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
}

body > header {
  background-color: black;
  color: white;
  font: bold 3rem Arial;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid rgb(0 0 0);
}

main {
  flex: 1;
  min-height: 0;
  display: flex;
  overflow: hidden;
}

#sidebar {
  border-right: 2px solid rgb(0 0 0);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 220px;
}

#sidebar * {
  background-color: #ffffff;
  font: bold 1.5rem Arial;
  user-select: none;
}

.tab .delete {
  align-self: center;
  opacity: 0;
}

#sidebar .title {
  flex: 1;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

#sidebar .tab {
  width: 180px;
  display: flex;
  border: 5px solid white;
  padding: 0 5px;
  background-color: #ffffff;
}

#sidebar .tab:hover,
#sidebar .tab.active {
  background-color: #000000;
  border: 5px solid red;
}

#sidebar .tab:hover *,
#sidebar .tab.active * {
  background-color: #000000;
  color: #ffffff;
  opacity: 1;
}

#project-container {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

#project-tabs {
  overflow: hidden auto;
}

#page {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#page-header {
  font: bold 2rem Arial;
  text-align: center;
}

#new-task-btn,
#new-task-form {
  height: 30px;
  border: hidden;
}

#new-task-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

#tasks {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  border: 2px solid black;
}

#tasks-header {
  text-align: center;
  font: bold 1.25rem Arial;
  border-bottom: 2px solid black;
  flex: 0 0 40px;
  overflow: auto;
  scrollbar-gutter: stable;
  user-select: none;
}

#tasks-header,
#tasklist > * {
  display: flex;
  word-break: break-all;
  align-items: stretch;
}

#tasklist {
  overflow: hidden scroll;
}

#tasklist > :nth-child(odd) {
  background-color: lightblue;
}

#tasklist :last-child {
  border-bottom: none;
}

.task {
  border-bottom: 2px solid black;
}

.task > * {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.project-title,
.title,
.description {
  padding: 5px;
  display: flex;
  align-items: center;
}

.project-title {
  width: 150px;
}

.title {
  width: 150px;
}

.description {
  width: 600px;
}

.due-date,
.priority,
.completed {
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  width: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 1.5rem;
  cursor: zoom-in;
}

.priority .low {
  color: #008000;
}

.priority .medium {
  color: #ffa500;
}

.priority .high {
  color: #ff0000;
}

#new-project-dialog {
  margin: auto;
}

#new-project-dialog[open] {
  height: 400px;
  width: 400px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
}
